pre.code {
font-family: "Consolas","DejaVu Sans Mono","Monaco";
font-size: 80%;
padding:0.0em 0em 0em 0.5em;
margin: 0px;
border: 1px solid #D98719;
color: #F8F8F8;
opacity:0.9;
background-color: #28211C;
overflow-x: auto;
overflow-y: hidden;
line-height: 125%;
text-align: left;
}

pre span.Root{
color: #fff;
}

pre span.Shebang{
color: #AFC4DB;
font-style: italic;
}

pre span.BlockComment{
color: #3D3D3D;
font-style: italic;
}

pre span.Comment {
color: #7F7F7F;
font-style: italic;
}

pre span.Logic {
color: #ad7fa8;
/* font-weight: bold; */
}

pre span.className {
color: #C7FF2F;
}

pre span.funcName {
color: #9B5C2E;
}

pre span.Keywords {
color: #89725B;
}

pre span.Keywords1 {
color: #FF6F6F;
font-weight: bold;
}

pre span.Keywords2 {
color: #89725B;
}

pre span.Keywords3 {
color: #CF19CB;
font-style: italic;
}

pre span.Keywords4 {
color: #473E8F;
}

pre span.Keywords5 {
color: #DF8A45;
}

pre span.Special{
color: #D01D33; 
}

pre span.Logic {
color: #4D58CF;
}

pre span.Types {
color: #FFA70F;
}

pre span.Entities {
background-color: #C4EFC2;
color:#3A6F37;
}

pre span.Entities1 {
color: #89725B;
}

pre span.Entities2 {
color: #259ADB;
}

pre span.Entities3 {
color: #CF6A4C;
}

pre span.Entities4 {
color: #CF6FFF;
}

pre span.Pars {
color: #FFE900;
}

pre span.Operators{
color: #FF9F9F;
font-weight: bold;
}

pre span.String, pre span.SingleString {
color: #B2D72C;
}

pre span.DoubleString {
color: #B2D72C;
}

pre span.Number {
color: #9B859D; 
}

pre span.Integer {
color: #49A5FF;
}

pre span.Tag {
color: #49A5FF; 
}

pre span.Name {
color: #49A5FF; 
}

pre span.Regex {
color: #29AFDF;
/*background-color: #2F1D1D;*/
}

pre span.RegexOptions {
color: #29AFDF;
background-color: #2F1D1D;
}

pre span.Dico {
color: #DF6237;
}

pre span.Constant1 {
color: #EF4A60;
}

pre span.Url, pre span.Url a  {
color: #9F0909;
background-color: #000;
text-decoration: underline;
}