pre.code {
font-family: "Consolas","DejaVu Sans Mono","Monaco";
font-size: 80%;
padding:0.0em 0em 0em 0.5em;
margin: 0px;
border: 1px solid #D98719;
color: #F8F8F8;
opacity:0.9;
background-color: #000000;
overflow-x: auto;
overflow-y: hidden;
line-height: 125%;
text-align: left;
}

.Root{
color: #fff;
}

.Shebang{
color: #AFC4DB;
font-style: italic;
}

.BlockComment{
color: #3D3D3D;
font-style: italic;
}

.Comment {
color: #3D3D3D;
font-style: italic;
}

.Logic {
color: #ad7fa8;
/* font-weight: bold; */
}

.className {
color: #C7FF2F;
}

.funcName {
color: #9B5C2E;
}

.Keywords {
color: #89725B;
/* font-weight: bold; */
}

.Keywords2 {
color: #89725B;
/* font-weight: bold; */
}

.Keywords3 {
color: #CF19CB;
font-style: italic;
}

.Keywords4 {
color: #473E8F;
}

.Keywords5 {
color: #DF8A45;
}

.Special{
color: #D01D33; 
}

.Logic {
color: #4D58CF;
}

.Types {
color: #FFA70F;
}

.Entities {
color: #89725B;
}

.Entities1 {
color: #89725B;
}

.Entities2 {
color: #259ADB;
}

.Entities3 {
color: #CF6A4C;
}

.Entities4 {
color: #CF6FFF;
}

.Pars {
color: #FFE900;
}

.Operators{
color: #FF9F9F;
font-weight: bold;
}

.String, .SingleString {
color: #B2D72C;
}

.DoubleString {
color: #B2D72C;
}

.Number {
color: #9B859D; 
}

.Integer {
color: #49A5FF;
}

.Tag {
color: #49A5FF; 
}

.Name {
color: #49A5FF; 
}

.Regex {
color: #29AFDF;
/*background-color: #2F1D1D;*/
}

.RegexOptions {
color: #29AFDF;
background-color: #2F1D1D;
}

.Dico {
color: #6EEF0E;
}

.Constant1 {
color: #EF4A60;
}

.Url, .Url a  {
color: #9F0909;
background-color: #000;
text-decoration: underline;
}
