pre.code {
font-family: "Consolas","DejaVu Sans Mono","Monaco";
font-size: 80%;
padding:0.0em 0em 0em 0.5em;
margin: 0px;
border: 1px solid #D98719;
color: #010101;
opacity:0.9;
background-color: #FFFFFF;
overflow-x: auto;
overflow-y: hidden;
line-height: 125%;
text-align: left;
}

pre span.Root{
color: #010101;
}

pre span.Shebang{
color: #AFC4DB;
font-style: italic;
}

pre span.BlockComment{
color: #898989;
font-style: italic;
}

pre span.Comment {
color: #898989;
font-style: italic;
}

pre span.Logic {
color: #ad7fa8;
/* font-weight: bold; */
}

pre span.className {
color: #BC4D00;
}

pre span.funcName {
color: #0067C2;
}

pre span.Keywords {
color: #016692;
}

pre span.Keywords2 {
color: #A00294;
}

pre span.Keywords3 {
color: #CF19CB;
font-style: italic;
}

pre span.Keywords4 {
color: #473E8F;
}

pre span.Keywords5 {
color: #DF8A45;
}

pre span.Special{
color: #00FF00; 
}

pre span.Types {
color: #333366;
font-style: italic;
}

pre span.Entities {
color: #A15001;
background-color: #FFFFFF;
}

pre span.Entities1 {
color: #A15001;
background-color: #FFFFFF;
}

pre span.Entities2 {
color: #877611;
}

pre span.Entities3 {
color: #646409;
}

pre span.Pars {
color: #667587;
}

pre span.Operators{
color: #CF7D34;
}

pre span.String, pre span.SingleString {
color: #009F78;
background-color: #FFFFFF;
}

pre span.DoubleString {
color: #009F78;
background-color: #FFFFFF;
}

pre span.Number {
color: #8C008A; 
}

pre span.Integer {
color: #49A5FF;
}

pre span.Tag {
color: #49A5FF; 
}

pre span.Name {
color: #49A5FF; 
}

pre span.Regex {
color: #29AFDF;
background-color: #2F1D1D;
}

pre span.Dico {
color: #61FF2F;
background-color: #183F0C;
}

pre span.Url, pre span.Url a  {
color: #628795;
background-color: #FFFFFF;
text-decoration: underline;
font-style: italic;
}