pre.code {
font-family: "Consolas","DejaVu Sans Mono","Monaco";
font-size: 80%;
padding:0.0em 0em 0em 0.5em;
margin: 0px;
border: 1px solid #D98719;
color: #515044;
opacity:0.9;
background-color: #eeeeee;
overflow-x: auto;
overflow-y: hidden;
line-height: 125%;
text-align: left;
}

.Root{
color: #fff;
}

.Shebang{
color: #4e9a06;
font-style: italic;
}

.BlockComment{
color: #0066ff;
font-style: italic;
}

.Comment {
color: #0066ff;
font-style: italic;
}

.Logic {
color: #ad7fa8;
/* font-weight: bold; */
}

.className {
color: #ff6a6a;
}

.funcName {
color: #ff8000;
}

.Keywords {
color: #4e9a06;
/* font-weight: bold; */
}

.Keywords2 {
color: #9700cc;
/* font-weight: bold; */
}

.Keywords3 {
color: #CF19CB;
font-style: italic;
}

.Keywords4 {
color: #473E8F;
}

.Keywords5 {
color: #DF8A45;
}

.Special{
color: #D01D33; 
}

.Types {
color: #00FF40;
font-style: italic;
}

.Entities {
background-color: #3F342B;
color: #3FCDFF;
}

.Entities1 {
color: #000;
}

.Entities2 {
color: #CF3E0C;
/* font-weight: bold; */
}

.Entities3 {
color: #8FCDFF;
}

.Pars {
color: #4e9a06;
}

.Operators{
color: #ef2929;
}

.String, .SingleString {
color: #729fcf;
background-color: #eeeeee; 
}

.DoubleString {
color: #729fcf;
background-color: #eeeeee;
}

.Number {
color: #0066cd; 
}

.Integer {
color: #49A5FF;
}

.Tag {
color: #49A5FF; 
}

.Name {
color: #49A5FF; 
}

.Regex {
color: #29AFDF;
background-color: #2F1D1D;
}

.Dico {
color: #61FF2F;
background-color: #183F0C;
}

.Url, .Url .a  {
color: #ff6a6a;
background-color: #4F8A9F;
text-decoration: underline;
font-style: italic;
}